svg.radial-progress {
    height: auto;
    max-width: 200px;
    padding: 1em;
    transform: rotate(-90deg);
    width: 100%;
}

svg.radial-progress circle {
    fill: rgba(0, 0, 0, 0);
    stroke: #fff;
    stroke-dashoffset: 219.91148575129;
    /* Circumference */
    stroke-width: 10;
}

svg.radial-progress circle.incomplete {
    opacity: 0.25;
}

svg.radial-progress circle.complete {
    stroke-dasharray: 219.91148575129;
    /* Circumference */
}

svg.radial-progress text {
    fill: #000;
    font: 400 1em/1 'Oswald', sans-serif;
    text-anchor: middle;
}


/*** COLORS ***/


/* Primary */

.radial-progress:nth-child(1) circle {
    stroke: #a2ed56;
}


/* Secondary */

.radial-progress:nth-child(2) circle {
    stroke: #83e4e2;
}


/* Tertiary */

.radial-progress:nth-child(3) circle {
    stroke: #fd6470;
}


/* Quaternary */

.radial-progress:nth-child(4) circle {
    stroke: #fca858;
}


/* Quinary */

.radial-progress:nth-child(5) circle {
    stroke: #fddc32;
}