

[title*="Hosted on free web hosting 000webhost.com. Host your own website for FREE."] {
           display: hidden;
           visibility: hidden;
       }





/* nAVBAR */

.fs {
    margin-top: 30px;
}

.top-container {
    /* background-color: #03A9F4; */
    background: -webkit-linear-gradient(0deg, #8490ff 0%, #62bdfc 100%);
    padding: 30px;
    text-align: center;
    z-index: 9999;
}

.header {
    padding: 10px 16px;
    /* background: #03A9F4; */
    background: -webkit-linear-gradient(0deg, #8490ff 0%, #62bdfc 100%);
    color: #f1f1f1;
    z-index: 999;
}

.content {
    padding: 16px;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background: #fff;
    box-shadow: 0px 0px 11px 2px #000;
}

.sticky+.content {
    padding-top: 102px;
}

.navbar a {
    color: #000000;
}

.navbar a:hover {
    background: none !important;
    color: green;
}


/* fixed color */

.navbar.color1 a {
    color: #000;
}

.navbar-nav>li>a {
    font-weight: bold;
}

.navbar.color1 a:hover {
    background: none !important;
    color: aqua;
}

.navbar-toggle {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: 8px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid #000;
    border-radius: 4px;
}

.navbar-toggle .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
    background: #000;
}

.logo {
    height: 100px;
    width: 100px;
}

.navbar-brand {
    float: left;
    height: 50px;
    padding: 15px 15px;
    font-size: 21px;
    line-height: 20px;
    font-weight: bold;
    text-shadow: #eefff8 3px 2px 6px;
}


/*banner  */

.banner-left-h6 {
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 2px;
}

.banner-left-h1 {
    margin: 20px 0;
    text-transform: uppercase;
}

.btn-download-cv {
    /* border: 1px solid grey; */
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border: 1px solid transparent;
    touch-action: manipulation;
    cursor: pointer;
    /* border-radius: 4px; */
    background: -webkit-linear-gradient(0deg, #8490ff 0%, #62bdfc 100%);
    transition: all 0.3s ease 0s;
}

.rotate {
    transform: rotate(90deg);
}

.btn-download-cv-a {
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.btn-download-cv-a:hover {
    box-shadow: 0px 20px 20px 0px rgba(132, 144, 255, 0.3);
    color: white;
    text-decoration: none;
}


/* top nav logo */

img.topnav-logo {
    height: 20px;
    width: 20px;
    float: left;
    margin-right: 10px;
}

.in-exp-heading {
    font-size: 18px;
    margin-bottom: 4em;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 5px;
    line-height: 1.8;
    position: relative;
}

.banner-title {
    margin-left: 20px;
}


/* only pc */

@media only screen and (min-width: 600px) {
    .banner-left-h1 {
        margin: 20px 0;
        font-size: 60px;
        text-transform: uppercase;
    }
    .first-section {
        margin-top: 88px !important;
    }
    .container-fluid>.navbar-collapse,
    .container-fluid>.navbar-header,
    .container>.navbar-collapse,
    .container>.navbar-header {
        margin-right: 0;
        margin-left: 100px;
    }
    .banner-title {
        margin-left: 60px;
    }
}


/* services box*/

.professional-box,
.quality-box {
    margin-top: 20px;
    position: relative;
    padding: 32px;
    border-radius: 20px;
    border: 2px solid #000;
    text-align: center;
}

.professional-box h2,
.quality-box h2 {
    position: absolute;
    top: -24px;
    left: -2px;
    height: 48px;
    padding-right: 16px;
    padding-left: 16px;
    font-size: 24px;
    font-weight: 600;
    color: #fff;
    background: #000;
    box-shadow: 10px 0px 0px #03A9F4;
    border-radius: 0px 0px 30px 0px;
}

.box-logo {
    margin: 30px 0;
    font-size: 90px;
    /* text-shadow: 0px 2px 5px #2196F3; */
    color: #000;
}

.professional-box p,
.quality-box p {
    margin-bottom: 0;
    font-size: 14px;
    line-height: 2;
    font-weight: 500;
    color: #000;
}


/* footer  */

.fo-con {
    margin-top: 30px;
    margin-bottom: 30px;
}

.fo-abt-title {
    color: #fff;
    letter-spacing: 1px;
    font-family: "Poppins", sans-serif;
}

.fo-abt-content {
    color: #c0b7b7;
    /* text-align: justify; */
}

.fo-abt-title-let {
    color: #c0b7b7;
}

.footerimg {
    height: 100px;
    width: 100px;
}

.navbar-inverse {
    background-color: #000;
    border-color: #080808;
    box-shadow: -1px -4px 20px #03A9F4;
}

.footertext {
    color: white;
}

.designed {
    color: #fff;
}


/* social icons */

.soc-icons {
    color: white;
    margin-right: 20px;
    margin-top: 10px;
}

@keyframes flip {
    from {
        transform: rotateY(0deg)
    }
    to {
        transform: rotateY(360deg)
    }
}


/* nav bar */

.blue-grad {
    background: -webkit-linear-gradient(0deg, #8490ff 0%, #62bdfc 100%);
}

.link-nav-heading {
    font-size: 48px;
    margin: 20px auto;
    font-family: "Poppins", sans-serif;
    line-height: 1.2em !important;
    margin-bottom: 20px;
    margin-top: 50px;
    font-weight: 600;
}

.text-white {
    color: white !important;
}

.fs {
    margin-top: 50px;
}

.link-nav>a {
    color: #fff;
    font-weight: 300;
    font-size: 14px;
    text-decoration: none;
    outline: 0;
}

.link-nav {
    margin-bottom: 50px;
}

.ser-card {
    height: 200px;
    width: 80%;
    margin: 10px auto;
    background: white;
    border-bottom: 5px solid;
    box-shadow: -1px -2px 20px 2px #887c7c;
}

.section {
    vertical-align: -webkit-baseline-middle;
}

.card-icon-holder {
    font-size: 40px;
}

.card-icon {
    /* margin-top: 75px; */
    padding: 15px;
    border-radius: 50%;
    line-height: 3;
    box-shadow: 0px 2px 20px 2px #000;
}

.card-title {
    color: black;
    text-align: center;
    margin-top: 35px;
}

.ser-card.color-1 {
    border-color: #2c98f0;
    color: #2c98f0;
}

.ser-card.color-2 {
    border-color: #ec5453;
    color: #ec5453;
}

.ser-card.color-3 {
    border-color: #f9bf3f;
    color: #f9bf3f;
}

.ser-card.color-4 {
    border-color: #a84cb8;
    color: #a84cb8;
}

.ser-card.color-5 {
    border-color: #2fa499;
    color: #2fa499;
}

.ser-card.color-6 {
    border-color: #4054b2;
    color: #4054b2;
}


/* ======================================================================================pricelist card =====================================================================================*/

.price-card {
    min-height: 300px;
    background: #fff;
    text-align: center;
    /* border: 1px solid black; */
    margin-top: 20px;
    /* height: 600px; */
}

.pri-icon {
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    margin-left: auto;
    margin-right: auto;
    font-size: 32px;
    font-weight: bold;
    width: 140px;
    height: 140px;
    line-height: 2;
    background-color: rgba(132, 144, 255, 0.1);
    border-radius: 100px;
    align-items: center;
    display: grid;
    border: 30px solid rgba(132, 144, 255, 0.1);
}

.pri-icon-hold {
    padding-top: 20px;
}

.pri-card-list {
    list-style-type: none;
    padding-bottom: 50px;
}

.pri-card-list hr {
    width: 70%;
}

.buy-btn {
    width: 50%;
    margin: auto;
    font-size: 25px;
    background: white;
    /* box-shadow: #000 0px 0 11px; */
    border-radius: 0;
    margin-top: 44px;
}

.price-card:hover {
    background: -webkit-linear-gradient(0deg, #8490ff 0%, #62bdfc 100%);
    transform: scale(1.05);
    z-index: 2;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
}

.hoverclas {
    color: black;
}

.hovercircle {
    background-color: rgba(255, 253, 253, 0.34);
    border: 30px solid rgba(255, 255, 255, 0.6);
}

.list-item {
    color: black;
    text-align: center;
}

.portfolio-img {
    margin-top: 20px;
}

.portfolio-img>.img-thumbnail {
    display: inline-block;
    max-width: 100%;
    height: auto;
    padding: 4px;
    line-height: 1.42857143;
    background-color: #e9eaf5;
    border: 1px solid #3200fb;
    border-radius: 4px;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.color-btn {
    font-weight: bold;
    letter-spacing: 5px;
    font-family: "Poppins", sans-serif;
    color: white;
}

.color-btn.color-1 {
    border-color: #2c98f0;
    background-color: #2c98f0;
}

.color-btn.color-2 {
    border-color: #ec5453;
    background-color: #ec5453;
}

.color-btn.color-3 {
    border-color: #f9bf3f;
    background-color: #f9bf3f;
}

.color-btn.color-4 {
    border-color: #a84cb8;
    background-color: #a84cb8;
}

.color-btn.color-5 {
    border-color: #2fa499;
    background-color: #2fa499;
}

.color-btn.color-6 {
    border-color: #4054b2;
    background-color: #4054b2;
}


/* ====================================================================contact page =========================================================
        */

.title-icon {
    font-size: 32px;
    float: left;
    display: inline-block;
    margin-right: 35px;
    /* position: relative; */
}

.title {
    font-weight: bold;
    font-family: "Poppins", sans-serif;
    /* font-size: 15px; */
}

.title>a {
    color: black;
    text-decoration: none;
}

#address,
#ad-phone,
#mail {
    margin-bottom: 10px;
    margin-top: 20px;
}

form.form {
    margin-top: 20px;
    /* border: 1px solid; */
}

#message {
    resize: none;
    height: 110px;
}

#submit {
    margin-top: 10px;
    color: white;
    font-weight: bold;
    letter-spacing: 3px;
}

#submit:active {
    color: black;
}

.fo-con {
    margin-top: 30px;
    margin-bottom: 30px;
}

.fo-abt-title {
    color: #fff;
    letter-spacing: 1px;
    font-family: "Poppins", sans-serif;
}

.fo-abt-content {
    color: #c0b7b7;
    text-align: justify;
}

.error {
    color: rgba(255, 0, 0, 0.719);
    /* text-shadow: #8490ff 1px 1px 1px; */
    /* color: -webkit-linear-gradient(0deg, #ee0790 0%, #8490ff 100%); */
}

#name-status {
    margin-left: 30px;
}

#message-status {
    margin-left: 30px;
}

#email-status {
    margin-left: 30px;
}

.img-me {
    border-radius: 50%;
    margin-top: 20px;
    height: 100px;
    border: 2px solid #ee0790;
}

.img-me:hover {
    animation: 2s linear flip infinite;
}

.soc-icons {
    color: white;
    margin-right: 20px;
    margin-top: 10px;
}

@keyframes flip {
    from {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
        transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
        opacity: 0;
    }
    40% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
        transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    60% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
        transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
        opacity: 1;
    }
    80% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
        transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    }
    to {
        -webkit-transform: perspective(400px);
        transform: perspective(400px);
    }
}

.font-color1 {
    color: #0077be !important;
}

.font-color2 {
    color: #aab2bd !important;
}

.font-color3 {
    /* background: linear-gradient(blue, pink); */
    /* color: rgb(31, 135, 233); */
    color: #393834;
}

.font-color4 {
    color: #00E90A !important;
}

.font-color5 {
    color: #68b445 !important;
}

.font-color6 {
    color: #000 !important;
}